<id id="old_visitor">

    <div class="card-header bg-light f-normal custom">

        <div class="widget-content p-0">
            <div class="widget-content-wrapper">
                <div class="widget-content-left">
                    <div class="btn-group">
                        <a aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                            <img width="42" class="rounded-circle"
                                 src="/static/images/boy.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="widget-content-left  ml-3 header-user-info">
                    <div class="widget-heading">
                        <a href="#">

                            {% if person.middle_name %}

                            {{person.first_name|lower|title}}
                            {{person.middle_name|lower|capfirst}}
                            {{person.last_name|lower|capfirst}}

                            {% else %}

                            {{person.first_name|lower|title}}
                            {{person.last_name|lower|capfirst}}

                            {% endif %}

                        </a>
                    </div>
                    <div class="widget-subheading text-default">
                        No. of visit, <b>1</b>
                    </div>
                    <div class="widget-subheading text-default">
                        Contact number,
                        {% if person.contact_number %} <b>+63 {{person.contact_number}}</b>
                        {% else %} <i>No specified</i>
                        {% endif %}
                    </div>
                    <div class="widget-subheading text-default">
                        Office,
                        {% if person.department_id %} <b>{{ person.department.name }}</b>
                        {% else %} <i>Not employee</i>
                        {% endif %}
                    </div>

                    {% if last_log %}

                    <div class="widget-subheading text-default">
                        Last visit, <b><a href="#">{{last_log.date}} at {{last_log.time}}</a></b>
                    </div>

                    {% endif %}

                </div>
            </div>
        </div>

    </div>

    {% if last_log %}

    <div class="card-header bg-success f-normal custom header-small">
        <b>LAST LOG OF
            {% if person.middle_name %}

            "{{person.first_name|lower|title}}
            {{person.middle_name|lower|capfirst}}
            {{person.last_name|lower|capfirst}}"

            {% else %}

            "{{person.first_name|lower|title}}
            {{person.last_name|lower|capfirst}}"

            {% endif %}
            IN DEPARTMENT</b>
    </div>

    <div class="card-header bg-light f-normal custom ">
        <div class="widget-content p-0">
            <div class="widget-content-wrapper">
                <div class="widget-content-left">
                    <div class="btn-group">
                        <a aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                            <i class="pe-7s-info" style="font-size:40px"></i>
                        </a>
                    </div>
                </div>
                <div class="widget-content-left  ml-3 header-user-info">
                    <div class="widget-heading">
                        {% if person.middle_name %}

                        {{person.first_name|lower|title}}
                        {{person.middle_name|lower|capfirst}}
                        {{person.last_name|lower|capfirst}}

                        {% else %}

                        {{person.first_name|lower|title}}
                        {{person.last_name|lower|capfirst}}

                        {% endif %}

                        in

                        <a href="">{{last_log.date}} at {{last_log.time}}</a>
                    </div>
                    <div class="widget-subheading text-default">
                        Contact number,
                        {% if last_log.details.contact_number %}<b>+63 {{last_log.details.contact_number}}</b>
                        {% else %} <i>No specified</i>
                        {% endif %}
                    </div>
                    <div class="widget-subheading text-default">
                        Type, <b>{{last_log.get_type_display}}</b>
                    </div>
                    <div class="widget-subheading text-default">
                        Purpose,
                        {% if last_log.purpose %}
                        <span class="text-primary">{{last_log.purpose}}</span>
                        {% else %} <i>No specified</i>
                        {% endif %}
                    </div>
                </div>
                <div class="widget-content-right">

                    {% if last_log.type == obj_log.IN %}

                    <div class="mb-2 mr-2 badge badge-info f-normal">
                        <h6 class="no-margin">
                            <span class="btn-icon-wrapper pr-2 opacity-7">
                                <i class="pe-7s-info fa-w-20"></i>
                            </span>
                            No further transaction
                        </h6>
                    </div>


                    {% elif last_log.type == obj_log.OUT %}

                    <div class="mb-2 mr-2 badge badge-warning f-normal">
                        <h6 class="no-margin">
                            <span class="btn-icon-wrapper pr-2 opacity-7">
                                <i class="fa fa-question-circle fa-w-20"></i>
                            </span>
                            Ongoing progress
                        </h6>
                    </div>


                    {% elif last_log.type == obj_log.IN_AND_OUT %}

                    {% if last_log.out %}

                    <div class="mb-2 mr-2 badge badge-success f-normal">
                        <h6 class="no-margin">
                            <span class="btn-icon-wrapper pr-2 opacity-7">
                                <i class="fa fa-check fa-w-20"></i>
                            </span>
                            Done
                        </h6>
                    </div>

                    {% else %}

                    <div class="mb-2 mr-2 badge badge-warning f-normal">
                        <h6 class="no-margin">
                            <span class="btn-icon-wrapper pr-2 opacity-7">
                                <i class="fa fa-question-circle fa-w-20"></i>
                            </span>
                            Pending for Request
                        </h6>
                    </div>

                    {% endif %}

                    {% endif %}

                </div>
            </div>
        </div>

    </div>

    {% endif %}

    <div class="card-header bg-success f-normal custom header-small">
        <b>LOG FORM</b>
    </div>

    <div class="card-body">

        <div class="position-relative row form-group">
            <label class="col-sm-2 col-form-label">
                Type
                <span class="red inline">*</span>
            </label>
            <div class="col-sm-6">

                <div class="nav">
                    <a data-toggle="tab" href="#in"
                       class="btn-pill btn-wide btn btn-outline-success btn-lg show active">
                        <b>In</b>
                    </a>
                    <a data-toggle="tab" href="#out"
                       class="btn-pill btn-wide mr-1 ml-1 btn btn-outline-success btn-lg show">
                        <b>Out</b>
                    </a>
                </div>
            </div>
        </div>


        <div class="tab-content">
            <form class="tab-pane active" id="in" role="tabpanel" data-parsley-validate>

                <input type="hidden" name="type" value="0">
                <input type="hidden" name="visitor_id" value="{{person.id}}">

                <div class="position-relative row form-group">
                    <label class="col-sm-2 col-form-label">
                        Date and Time
                    </label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                            <input type="datetime-local"
                                   name="date"
                                   value="{{utc_date}}"
                                   required
                                   class="form-control input-highlight">
                        </div>
                        <div class="helper mt-1 custom text-primary">
                            Skip if not necessary
                        </div>
                    </div>
                </div>

                <div class="position-relative row form-group">
                    <label class="col-sm-2 col-form-label">
                        Document Type
                    </label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <select class="form-control" name="document_type">
                                <option selected value="">No documents</option>
                                {% for per in document_type %}
                                <option value="{{per.id}}">{{per.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="helper mt-1 custom text-primary">
                            Skip if not necessary
                        </div>
                    </div>
                </div>

                <div class="position-relative row form-group">
                    <label class="col-sm-2 col-form-label">
                        Document From
                    </label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <select class="form-control" name="document_from">
                                <option selected value="">No documents</option>
                                {% for per in department %}
                                <option value="{{per.id}}">{{per.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="helper mt-1 custom text-primary">
                            Skip if not necessary
                        </div>
                    </div>
                </div>

                <div class="position-relative row form-group">
                    <label class="col-sm-2 col-form-label">
                        2nd Contact N#
                    </label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">+63</span>
                            </div>
                            <input type="text"
                                   placeholder="Optional"
                                   name="contact_number2"
                                   data-parsley-onlynumbers
                                   data-parsley-type="number"
                                   class="form-control">
                        </div>
                        <div class="helper mt-1 custom text-primary">
                            Skip if not necessary
                        </div>
                    </div>
                </div>

                <div class="position-relative row form-group">
                    <label class="col-sm-2 col-form-label">
                        Details/Reason
                    </label>
                    <div class="col-sm-9">
                <textarea name="purpose"
                          placeholder="Optional"
                          style="height:150px"
                          class="form-control"></textarea>
                        <div class="helper mt-1 custom text-primary">
                            Skip if not necessary
                        </div>
                    </div>
                </div>

                <div class="modal-footer" style="position:relative">
                    <button type="submit" class="btn btn-lg btn-primary">
                        Save and Close
                    </button>
                </div>

            </form>
            <form class="tab-pane" id="out" role="tabpanel" data-parsley-validate>

                <input type="hidden" name="type" value="1">
                <input type="hidden" name="visitor_id" value="{{person.id}}">

                <div class="position-relative row form-group">
                    <label class="col-sm-2 col-form-label">
                        Date and Time
                    </label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                            <input type="datetime-local"
                                   name="date"
                                   value="{{utc_date}}"
                                   required
                                   class="form-control input-highlight">
                        </div>
                        <div class="helper mt-1 custom text-primary">
                            Skip if not necessary
                        </div>
                    </div>
                </div>

                <div class="position-relative row form-group">
                    <label class="col-sm-2 col-form-label">
                        Document Type
                    </label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <select class="form-control" name="document_type">
                                <option selected value="">No documents</option>
                                {% for per in document_type %}
                                <option value="{{per.id}}">{{per.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="helper mt-1 custom text-primary">
                            Skip if not necessary
                        </div>
                    </div>
                </div>

                <input type="hidden" name="document_from" value="{{user_profile.department.id}}">

                <div class="position-relative row form-group">
                    <label class="col-sm-2 col-form-label">
                        Document From
                    </label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <select class="form-control" name="document_from" disabled>
                                <option selected value="{{user_profile.department.id}}">
                                    {{user_profile.department.name}}
                                </option>
                            </select>
                        </div>
                        <div class="helper mt-1 custom text-primary">
                            Skip if not necessary
                        </div>
                    </div>
                </div>

                <div class="position-relative row form-group">
                    <label class="col-sm-2 col-form-label">
                        2nd Contact N#
                    </label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">+63</span>
                            </div>
                            <input type="text"
                                   placeholder="Optional"
                                   name="contact_number2"
                                   data-parsley-onlynumbers
                                   data-parsley-type="number"
                                   class="form-control">
                        </div>
                        <div class="helper mt-1 custom text-primary">
                            Skip if not necessary
                        </div>
                    </div>
                </div>

                <div class="position-relative row form-group">
                    <label class="col-sm-2 col-form-label">
                        Details/Reason
                    </label>
                    <div class="col-sm-9">
                <textarea name="purpose"
                          placeholder="Optional"
                          style="height:150px"
                          class="form-control"></textarea>
                        <div class="helper mt-1 custom text-primary">
                            Skip if not necessary
                        </div>
                    </div>
                </div>

                <div class="modal-footer" style="position:relative">
                    <button type="submit" class="btn btn-lg btn-primary">
                        Save and Close
                    </button>
                </div>

            </form>
        </div>

    </div>

</id>
