<div class="table-responsive" item_count="{{itemCount}}">
    <table class="align-middle mb-0 table table-borderless table-striped table-hover">
        <thead>
        <tr>
            <th class="text-center" style="width:auto">Tracing Code.</th>
            <th style="width:30%">Visitor Name</th>
            <th class="text-center" style="width:15%">In</th>
            <th class="text-center" style="width:15%">Out</th>
            <th class="text-center" style="width:20%">Document Type</th>
            <th class="text-center" style="width:20%">State</th>
            <th class="text-center" style="width:20%">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for per in data %}

        <tr>

            <td class="text-center text-muted" style="width:auto">
                <small><b>{{per.details.tracing_code}}</b></small>
            </td>
            <td style="width:30%">
                <div class="widget-content p-0">
                    <div class="widget-content-wrapper">
                        <div class="widget-content-left mr-3">
                            <div class="widget-content-left">
                                <img width="40" class="rounded-circle" src="/static/images/boy.png"
                                     alt="">
                            </div>
                        </div>
                        <div class="widget-content-left flex2">
                            <div class="widget-heading">
                                <a href="#">
                                    {% if per.details.person_visitor.middle_name %}

                                    {{per.details.person_visitor.first_name|lower|title}}
                                    {{per.details.person_visitor.middle_name|lower|capfirst}}
                                    {{per.details.person_visitor.last_name|lower|capfirst}}

                                    {% else %}

                                    {{per.details.person_visitor.first_name|lower|title}}
                                    {{per.details.person_visitor.last_name|lower|capfirst}}

                                    {% endif %}
                                </a>
                            </div>

                            {% if params.department and per.details.person_visitor.department %}

                            <div class="widget-subheading opacity-8">
                                <div class="badge badge-pill badge-primary" style="letter-spacing: 0.9px;">
                                    {{per.details.person_visitor.department.name}}
                                </div>
                            </div>

                            {% endif %}


                            {% if per.details.person_visitor.department %}

                            {{per.details.person_visitor.department.name|lower|title}}

                            {% else %}

                            <div class="widget-subheading opacity-8" style="font-size: 12px;">
                                {{per.details.person_visitor.department.name|lower|title}}
                                <i>No office assigned</i>
                            </div>

                            {% endif %}

                        </div>
                    </div>
                </div>
            </td>
            <td class="text-center" style="width:15%; font-size:13px">
                {{per.date|date:"D, N d Y"}}
                <p class="no-margin">{{per.time|date:"h:i A"}}</p>
            </td>
            <td class="text-center" style="width:15%; font-size:13px">
                {% if per.out %}

                {{per.out.date|date:"D, N d Y"}}
                <p class="no-margin">{{per.out.time|date:"h:i A"}}</p>

                {% else %}

                {% if per.type == LOG.IN %}

                <span class="fa fa-times-circle" style="font-size: 17px;color: orangered;">
                </span>

                {% else %}

                <span class="fa fa-check-circle text-success" style="font-size: 17px;">
                </span>

                {% endif %}

                {% endif %}
            </td>
            <td class="text-center" style="width:10%">
                {% if per.details.document_type %}
                <div class="mb-2 mr-2 badge badge-pill badge-success"
                     style="letter-spacing: 0.9px;">
                    {{per.details.document_type.name}}
                </div>
                {% endif %}
            </td>
            <td class="text-center" style="width:20%">

                {% if per.type == LOG.OUT %}

                <div class="badge badge-secondary">ON GOING</div>

                {% else %}

                {% if per.out %}
                <div class="badge badge-success">Done</div>
                {% else %}
                <div class="badge badge-focus">PENDING</div>
                {% endif %}

                {% endif %}
                <div class="badge badge-info">{{per.get_type_display}}</diV>

            </td>
            <td class="text-center">
                <form class="inline init_modal" action="/log/details">
                    <input type="hidden" name="log_id" value="{{per.id}}">
                    <button class="btn btn-lg btn-primary">More</button>
                </form>
            </td>

        </tr>

        {% endfor %}
        </tbody>
    </table>
</div>
