<h6 class="modal-title" id="exampleModalLongTitle">
    <div class="app-page-title no-margin no-padding">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon bg-success">
                    <b>
                        <i class="pe-7s-check text-white">
                        </i>
                    </b>
                </div>
                <div>
                    <b>Successfully added</b>
                    <div class="page-title-subheading">
                        You successfully added
                        <b>
                            <a href="{{data.id}}">
                                {% if data.person_visitor.middle_name %}

                                {{data.person_visitor.first_name|lower|title}}
                                {{data.person_visitor.middle_name|lower|capfirst}}
                                {{data.person_visitor.last_name|lower|capfirst}}

                                {% else %}

                                {{data.person_visitor.first_name|lower|title}}
                                {{data.person_visitor.last_name|lower|capfirst}}

                                {% endif %}
                            </a>
                        </b> of tracking code <b class="text-primary">{{data.id}}</b>
                        click the name to view his logs.
                    </div>
                </div>
            </div>
        </div>
    </div>
</h6>
<button type="button" class="close-modal-alert close" aria-label="Close">
    <span aria-hidden="true">×</span>
</button>
